doctype html
html
  head
    link(rel='stylesheet', href='./styles.css')
    link(href='https://fonts.googleapis.com/css?family=Asap:400,400i,700', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    meta(charset='utf-8')
    title SCManager

  body
    .title-bar
    header
      h1 SCManager
    .wrapper

      .side-bar
        .side-item
          a(href='#') Soundcloud
        .side-item
          a(href='#') Soundcloud
        .side-item
          a(href='#') Soundcl()ud
        .side-item
          a(href='#') Soundcl()ud
        .side-item
          a(href='#') Soundcl()ud
      .main
        h1 SoundCloud
        h2 Username: N3RDY

    footer &copy; SCManager
