body {
  font-family: 'Asap', sans-serif;
}
.title-bar {
  height: 22px;
  background-color: #2a4494;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
header {
  margin-top: -22px;
  width: 100%;
  background-color: #2a4494;
  text-align: center;
  padding: 2% 0 2% 0;
  color: #f2f2f2;
}
h1 {
  font-size: 300%;
}
.side-bar {
  float: left;
  background-color: #4c6085;
  width: 20%;
  height: 100%;
  color: #f2f2f2;
}
.side-bar a {
  display: block;
  padding: 5% 0 5% 10%;
}
.side-item {
  border-bottom: 3px solid #34425b;
}
.main {
  background-color: #7796cb;
  width: 75%;
  float: right;
  padding: 2% 0 3% 5%;
  color: #282828;
}
.clear {
  clear: both;
}
a {
  color: #f2f2f2;
  text-decoration: none;
}
footer {
  margin: 2% 0 0 10%;
  padding-top: 1%;
  border-top: 3px solid #ccc;
  text-align: center;
  width: 80%;
}
