html, body {
  font-family: 'Asap', sans-serif;
  height: 100%;
}
.title-bar {
  height: 22px;
  background-color: #2a4494;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
header {
  margin-top: -22px;
  width: 100%;
  background-color: #2a4494;
  text-align: center;
  padding: 2% 0 2% 0;
  color: #f2f2f2;
}
h1 {
  font-size: 300%;
}
.side-bar {
  background-color: #4c6085;
  width: 20%;
  color: #f2f2f2;
  -ms-flex: 0 100px;
  -webkit-box-flex:  0;
  -moz-box-flex:  0;
  -ms-box-flex:  0;
  box-flex:  0;
}
.side-bar a {
  display: block;
  padding: 5% 0 5% 10%;
}
.side-item {
  border-bottom: 3px solid #34425b;
}
.main {
  background-color: #7796cb;
  padding: 2% 0 3% 5%;
  color: #282828;
  min-height: 100%;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  width: 75%;
}
a {
  color: #f2f2f2;
  text-decoration: none;
}
footer {
  margin: 2% 0 0 10%;
  padding-top: 1%;
  border-top: 3px solid #ccc;
  text-align: center;
  width: 80%;
}

.wrapper {
  display:  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}
