/* Basic reset, font, electron title bar */
* {
  box-sizing: border-box;
}
html, body {
  font-family: 'Asap', sans-serif;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.title-bar {
  height: 22px;
  background-color: #2a4494;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

/* Big header */
header {
  margin-top: -22px;
  width: 100%;
  background-color: #2a4494;
  text-align: center;
  padding: 2% 0 2% 0;
  color: #f2f2f2;
}
h1 {
  font-size: 300%;
}
.tabs-wrap {
  display: flex;
  height: 100%;
  flex-grow: 1
}
.tab {
  flex-grow: 1;
  display: flex;
}
.nav-tab-item {
  flex-grow: 1;
  background-color: #7796cb;
  border: 0;
  padding: 20px;
  border-bottom: 3px solid #34425b;
}
.tabs {
  display: flex;
  flex-grow: 1
}
.wrapper {
  display: flex;
}

.tabs-nav {
  display: flex;
  flex-direction: column;
}
.tab webview {
  flex-grow: 1;
}
.nav-tab-item:focus {
  outline: none;
}

.active-nav-tab {
  background-color: #4c6085;
}


/* Tabs */
/*.tabs-nav {
  background-color: #4c6085;
  width: 20%;
  color: #f2f2f2;
}
.tab-nav .nav-tab-item {
  border-bottom: 3px solid #34425b;
}

.tabs {
  background-color: #7796cb;
  padding: 2% 0 3% 5%;
  color: #282828;
  min-height: 100%;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  width: 75%;
}
a {
  color: #f2f2f2;
  text-decoration: none;
}
footer {
  margin: 2% 0 0 10%;
  padding-top: 1%;
  border-top: 3px solid #ccc;
  text-align: center;
  width: 80%;
}*/
